<!-- Archivo parcial que almacena el código de la cabecera HTML para ser reutilizado en cada vista -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba técnica Ramguz S.A.</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="display: flex; justify-content: center;">
        <a href="/" class="navbar-brand">Prueba tecnica Ramguz S.A.</a>
    </nav>